@model RoomVM
@using Tascoring.UI.Extensions
@{
	ViewData[""] = "Scoring Room";
	ViewData["HeaderSummary"] = "Give a score";
	Layout = "~/Views/Shared/_Layout.cshtml";

	if (User.Identity.IsAuthenticated == false)
	{
		Context.Response.Redirect("/");
	}
	// TODO: signalr eklenecek (Done)
	// TODO: 1. Kullanicilar listenecek (Done)
	// TODO: 2. Kanala Gelen user listeye eklenecek (Done)
	// TODO: 2. Puan verilince class active olacak
	// TODO: 2. verilen puan ayni grouptaki yani room daki herkese gidecek
	// TODO: 2. puanlama bittiginde Herkese sonuc gelecek.
	// TODO: 2. puanlama otomatik olarak bitecek GERI sayim olacak 5 sn en son kim bastiysa herkeste click yapma isi bitecek - Eger herkes oy verdiyse is bitmis olacak
	//
	// TODO: 2. En son puanlama bittikten sonra 1 sn icinde puanlar hesaplanacak en yuksek puanin hangisi ise o secilecek
	//  8 8 8 5 5
}
<style>
	.plan-st2 {
		margin-bottom: 10px;
	}

	.player-container {
		display: block;
		text-align: left;
		border: 1px solid #ededed;
	}

		.player-container .header {
			background: #3897F0;
		}

			.player-container .header h3 {
				margin: 0;
				padding: 0;
				padding: 10px 10px;
				margin: 0 0 0 0;
				color: #fff;
				font-weight: 400;
			}

	.player-list {
		display: block;
		padding: 0 10px;
	}

		.player-list .player {
			border-bottom: 1px solid #ededed;
			overflow: hidden;
			padding: 12px 0;
		}

			.player-list .player:first-child {
				border-top: 1px solid #ededed;
			}

			.player-list .player .player-image {
				width: 40px;
				height: 40px;
				float: left;
				margin-right: 10px
			}

				.player-list .player .player-image img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
				}

			.player-list .player .player-name {
				float: left;
				padding-top: 7px;
				font-size: 18px;
			}

				.player-list .player .player-name i {
					color: #039;
				}

				.player-list .player .player-name .score-checked {
					float: right;
					margin-left: 10px;
				}

			.player-list .player .player-score {
				float: right;
				font-weight: bold;
				font-size: 28px;
			}

	.player-container .button-list {
		margin: 20px 0;
	}

		.player-container .button-list .reset-btn {
			margin-top: 15px;
		}
</style>

<input type="hidden" id="roomId" value="@Model.RoomId" />
<input type="hidden" id="displayName" value="@Model.DisplayName" />
<input type="hidden" id="userid" value="@Model.UserId" />
<input type="hidden" id="avatarUrl" value="@Model.AvatarUrl" />

<div class="row">
	<div class="row col-md-8 scores">
		<div class="col-lg-3 col-sm-6">
			<div class="plan-st2">
				<h1 data-scoring="0">0</h1>
				<span>Too Easy</span>
				<i class="fa fa-battery-empty mlyo-icon-st2"></i>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="plan-st2">

				<h1 data-scoring="1">1</h1>
				<span>Easy</span>
				<i class="fa fa-arrow-circle-right mlyo-icon-st2"></i>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6">
			<div class="plan-st2">

				<h1 data-scoring="3">3</h1>
				<span>You think Easy</span>
				<i class="fa fa-adn mlyo-icon-st2"></i>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="plan-st2">

				<h1 data-scoring="5">5</h1>
				<span>Not too Easy</span>
				<i class="fa fa-hard-of-hearing mlyo-icon-st2"></i>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="plan-st2">

				<h1 data-scoring="8">8</h1>
				<span>Not too Easy</span>
				<i class="fa fa-hard-of-hearing mlyo-icon-st2"></i>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="plan-st2">

				<h1 data-scoring="13">13</h1>
				<span>Not too Easy</span>
				<i class="fa fa-hard-of-hearing mlyo-icon-st2"></i>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="plan-st2">

				<h1 data-scoring="21">21</h1>
				<span>Not too Easy</span>
				<i class="fa fa-hard-of-hearing mlyo-icon-st2"></i>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="plan-st2">

				<h1 data-scoring="34">34</h1>
				<span>Must be Hard</span>
				<i class="fa fa-apple mlyo-icon-st2"></i>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="plan-st2">
				<h1 data-scoring="51">51</h1>
				<span>Not too Easy</span>
				<i class="fa fa-hard-of-hearing mlyo-icon-st2"></i>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="plan-st2">

				<h1 data-scoring="100"><i class="fa fa-coffee mlyo-icon-st2"></i></h1>
				<span>Not too Easy</span>
				<i class="fa fa-book mlyo-icon-st2"></i>
			</div>
		</div>
	</div>

	<div class="col-md-4" id="users">

		<div class="player-container">

			<div class="header">
				<h3>Player</h3>
			</div>

			<div class="player-list">
				@*<div class="player" user-id="@Model.UserId">
						<div class="player-image">
							<img src="@Model.AvatarUrl" />
						</div>
						<div class="player-name">
							@Model.DisplayName<div class="score-checked"><i class="fa fa-check-square-o" aria-hidden="true"></i></div>
						</div>
						<div class="player-score">5</div>
					</div>*@
				<div class="player" user-id="@Model.UserId">
					<div class="player-image">
						<img src="@Model.AvatarUrl" />
					</div>
					<div class="player-name">
						@Model.DisplayName
					</div>
				</div>
			</div>

			<div class="row button-list">

				<div class="col-md-6">
					<select name="" class="form-control">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>

				<div class="col-md-6">
					<button class="btn btn-primary btn-block">Finish Woting</button>
				</div>

				<div class="col-md-12 reset-btn">
					<button class="btn btn-outline-primary btn-block">Reset</button>
				</div>

			</div>

		</div>

	</div>
</div>



@section scripts{
	<!-- SignalR -->
	<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/extensions/extensions.js" asp-append-version="true"></script>
	<script src="~/js/signalr/roomController.js" type="text/javascript" asp-append-version="true"></script>
}
